extends layout

block content
  .row
  .col-md-(style='margin-left:65px; margin-top:250px')
  h5(style='text-align:center; margin-left:65px;  margin-top:10px; color:white') Are you willing to schedule a callback on the following number?
  button.yes.btn.btn-primary  Yes
  br
  br
  button.yes.btn.btn-primary(onclick='submit()') No
  script(src="/stylesheets/index.js")