extends layout

block content
  .row
  .col-md
  input#valinput1.form-control(type='number' placeholder='Enter Your Callback Number' style='width:35%; margin-left:31%; margin-top:220px' )
  br
  button.yes.btn.btn-primary(onclick='submitNum()') Submit
  script(src="/stylesheets/index.js")